.container {
    width: 50% !important;
    border: solid black 1px !important;
}

.pagination-wrapper {
    display: flex;
    flex-direction: row;
}

.next-prev {
    margin-right: 2px;
    border: solid black 1px;
    padding: 5px;
    max-width: fit-content;
}

.custom-pagination {
    margin-right: 2px;
    border: solid black 1px;
    padding: 5px 10px;
    max-width: fit-content;
}

.active {
    background-color: blue;
}

.form-control {
    border: solid black 1px;
}